#workspace {
  border: 2px solid black;
  display: none;
  position: relative;
}

#centerDot {
  position: absolute;

  left: 400px;
  top: 400px;

  width: 20px;
  height: 20px;

  background-color: red;

  border-radius: 50%;

}

#edgeLine {
  position: absolute;
  
  width: 5px;
  height: 800px;

  background-color: blue;

}

#startLine {
  position: absolute;
  
  width: 800px;
  height: 5px;

  background-color: green;

}
