#workspace {
  border: 2px solid black;
  display: none;
  position: relative;
}

#centerDot {
  position: absolute;

  left: 600px;
  top: 600px;

  width: 20px;
  height: 20px;

  background-color: red;
}
